body {
	font-family: 'Roboto';
	background-color: #BDBDBD;
	width: 100%;
}

#content {
	margin-top: 0px;
}

#marquee {
	text-decoration: blink;
}

#heading {
	font-family: sans-serif;
	margin-left: 320px;
	margin-top: 20px;
	margin-right: 300px;
}

#refresh {
	margin-left: 45%;
	margin-right: 40%;
	background-color: yellow;
}



#menu {
	text-transform:uppercase;
	margin-top: 30px;
}

#inline {
	display: inline;

}

#td0,#td1,#td2,#td3,#td4,#td5,#td6 {
	background-color: yellow;
	opacity: 0.8;
	border-radius: 20;
	display: block;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#td0:hover,#td1:hover,#td2:hover,#td3:hover,#td4:hover,#td5:hover,#td6:hover {
	background-color: #80ccff;
}


#td0:active,#td1:active,#td2:active,#td3:active,#td4:active,#td5:active,#td6:active {
	background-color: #3366ff;
}

#td0:visited,#td1:visited,#td2:visited,#td3:visited,#td4:visited,#td5:visited,#td6:visited {
	background-color: #3366ff;
}


.bvmlogo{
	margin-top:10px;
	margin-left: 250px;
	margin-bottom: 20px;
	width: 800px;
	height: 200px;
	float: left;
	opacity: 1;
}

#whole{
	background-color: #ccff99;
	margin-top: 0px;
}

#top {
	background-color: yellow;
}

table tr td button {
	background-color: yellow;
	display: block;
	border-radius: 10;
	text-decoration: none;
}

table tr td {
	color: black;
}

#syllabus{
	text-decoration: none;
}

#syllabusview {
	/*background-color: #66ffff;*/
	opacity: 1;
}

#timetable {
	background-color: white;
}

#timetableid {
	margin-top: 30px;
}


.timetabletd:hover {
	background-color: #ff9933;

}

#innertable {
	margin-left: 20px;
	margin-top: 60px;
}

#GoogleCalendar {
	width: 100px;
	height: 100px;
}

#maps{
	width: 100%;
	height: 400px;
}

#iframe {
	width: 100%;
	height: 500px;
}

.fa {
    padding: 10px;
    font-size: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin-top: 10px;
}

.fa-facebook {
	background-color: #3B5998;
    color: white;
}

.fa-instagram {
	background-color: #fb3958;
    color: white;
    margin-left: 10px;
    margin-bottom: 30px;
}

.fa-linkedin {
	background-color: #007bb6;
	color: white;
	margin-left: 10px;
	margin-bottom: 30px;
}

.fa-twitter {
	background-color: #00aced;
	color: white;
	margin-left: 10px;
	margin-bottom: 30px;
}


.animatedbtn {
  transition: all 0.5s;
  cursor: pointer;
}

.animatedbtn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.animatedbtn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -5px;
  transition: 0.5s;
}

.animatedbtn:hover span {
  padding-right: 25px;
}

.animatedbtn:hover span:after {
  opacity: 1;
  right: 0;
}
